@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
}

::-webkit-input-placeholder,
button,
input,
textarea {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    "Noto Sans SC",
    helvetica neue,
    ubuntu,
    roboto,
    noto,
    system-ui,
    sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    PingFang SC,
    Hiragino Sans GB,
    "Noto Sans SC",
    helvetica neue,
    ubuntu,
    roboto,
    noto,
    system-ui,
    sans-serif;
}

body {
  font-feature-settings: "calt", "ss01", "ss03", "cv01", "cv02", "cv03", "cv04", "cv09", "cv10";
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--color-bg-1);
}

a {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
